@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

html {
  overflow: hidden;
}

.content {
  display: flex;
  align-items: center;
  height: 100vh;
}

.left {
  flex: 50%;
  text-align: center;
}

.right {
  flex: 50%;
}

@media (max-width: 768px) {
  .left {
    display: none;
  }
}

h1,
p,
a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  color: white;
}

p {
  font-size: 1.2em;
  font-weight: 300;
  color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: 1650px;
  background-repeat: no-repeat;
  background-position-y: 40px;
  background-color: #292929;
  color: white;
}

button {
  appearance: auto;
  writing-mode: horizontal-tb !important;
  font-style: ;
  font-variant-ligatures: ;
  font-variant-caps: ;
  font-variant-numeric: ;
  font-variant-east-asian: ;
  font-weight: ;
  font-stretch: ;
  font-size: ;
  font-family: ;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
