@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

html {
  overflow: hidden;
}

.content {
  display: flex;
  align-items: center;
  height: 100vh;
}

.left {
  flex: 50%;
  text-align: center;
}

.right {
  flex: 50%;
}

@media (max-width: 768px) {
  .left {
    display: none;
  }
}

h1,
p,
a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  color: white;
}

p {
  font-size: 1.2em;
  font-weight: 300;
  color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: 1650px;
  background-repeat: no-repeat;
  background-position-y: 40px;
  background-color: #292929;
  color: white;
}
